@font-face {
    font-family: Aloevera;
    src: url(fonts/Aloevera-OVoWO.ttf);
}

@font-face {
    font-family: SparkyStones;
    src: url(fonts/SparkyStonesRegular-BW6ld.ttf);
}

@font-face {
    font-family: Goldleaf;
    src: url(fonts/GoldleafBoldPersonalUseBold-eZ4dO.ttf);
}

@font-face {
    font-family: Mangabey;
    src: url(fonts/MangabeyRegular-rgqVO.otf);
}

@font-face {
    font-family: Grotley;
    src: url(fonts/GrotleyRegular-mLEWv.otf);
}

body {
    background-image: url(imgs/black-1072366_1280.jpg);
}

.container {
    font-family: Grotley;
    margin: 5rem;
    border-radius: 1%;
    padding: 0 5rem;
    background-color: rgb(248, 236, 216);
    filter: drop-shadow(0.35rem 0.35rem rgba(255, 255, 255, 0.5));
}

#title {
    text-align: center;
    padding-top: 5rem;
    margin-bottom: -5rem;
    text-shadow: 2px 2px 5px #FFFFFF;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    margin-bottom: -7rem;
}

.food {
    padding-top: 25px;
    width: 30%;
}

.area {
    padding: 1rem;
    text-align: center;
}

.category {
    padding: 7px ;
    height: 65px;
    width: 160px;
    padding-left: 7px;
    font-size: 17px;
    width: fit-content;
    border-bottom: 2px solid #000000;
}

#appies {
    opacity: 100;
}
.shadow {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(59, 58, 58, 0.5));
}

#line {
    text-align: center;
}


.item {
    padding: 1px;
}

.price {
    display: inline-block;
}

.name, .description {
    padding-left: 5px;
}

.description {
    font-size: 20px;
    margin-top: -5px;
}

.name {
    font-size: 22px;
}

.gf {
    max-height: 30px;
    margin-left: 5px;
}