@font-face {
    font-family: Aloevera;
    src: url(fonts/Aloevera-OVoWO.ttf);
}

@font-face {
    font-family: SparkyStones;
    src: url(fonts/SparkyStonesRegular-BW6ld.ttf);
}

@font-face {
    font-family: Goldleaf;
    src: url(fonts/GoldleafBoldPersonalUseBold-eZ4dO.ttf);
}

@font-face {
    font-family: Mangabey;
    src: url(fonts/MangabeyRegular-rgqVO.otf);
}

@font-face {
    font-family: Grotley;
    src: url(fonts/GrotleyRegular-mLEWv.otf);
}

body {
    background-color: white;
}

.container {
    font-family: Grotley;
    margin: 5rem;
    padding: 0 5rem;
    background-image: url(imgs/chalkboard.jpg);
    background-repeat: repeat;
    filter: drop-shadow(0.5rem 0.35rem rgba(38, 38, 38, 0.5));
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    margin-bottom: -7rem;
    color: white;
    filter: invert(100%);
}

#title {
    text-align: center;
    padding-top: 5rem;
    margin-bottom: -5rem;
    text-shadow: 2px 2px 5px #242424;
    color: white;
}

.area {
    padding-top: 5rem;
    text-align: center;
}

.category {
    font-size: 17px;
    margin: 0 300px;
    text-align: center;
    color: white;
}

.shadow {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(203, 202, 202, 0.5));
}

.food {
    padding-top: 25px;
    width: 45%;
}

.item {
    padding: 1px;
    display: inline-block;
}

.name, .description {
    padding-left: 5px;
    color: white;
}

.name {
    font-size: 20px;
    float: left;
}

.price {
    float: right;
    font-size: 20px;
    color: white;
}

.description {
    font-size: 20px;
    margin-top: -5px;
    float: left;
    text-align: left;
}

.gf {
    max-height: 30px;
    margin-left: 5px;
    filter: invert(100%);
}

